<h1>Cohort#show</h1>
<p>Find me in app/views/cohort/show.html.erb</p>




<div>
  <strong>Cohort:</strong>
  <%= @cohort.cohort_name%>
</div>
 
<div>
  <strong>Start Date:</strong>
  <%= @cohort.cohort_start_date %>
</div>

<div>
  <strong>End Date:</strong>
  <%= @cohort.cohort_end_date %>
</div>

