<h1>Cohort#show</h1>
<p>Find me in app/views/cohort/show.html.erb</p>


<

<p>
  <strong>Cohort:</strong>
  <%= @cohort.cohort_name%>
</p>
 
<p>
  <strong>Start Date:</strong>
  <%= @cohort.cohort_start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @cohort.cohort_end_date %>
</p>

