<h1 class="d-flex justify-content-center">Student Dashboard</h1>


<h3 class="d-flex justify-content-center">Administrator</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE ADMINISTRATOR GOES HERE</h4>



<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="#">Create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Update</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Delete</a>
  </li>
</ul>
