



<h1 class="d-flex justify-content-center">Administrator</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE ADMIN GOES HERE</h4>



<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="#">Email</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cohort</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Teachers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">My Profile</a>
  </li>
</ul>


 