



<h1 class="d-flex justify-content-center">Administrator</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE ADMIN GOES HERE</h4>
<hr>


<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="/email_pages">Email</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cohorts">Cohort</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/courses">Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/students">Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/teachers">Teachers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/profiles">My Profile</a>
  </li>
</ul>


 