<h1 class="d-flex justify-content-center">Teacher Dashboard</h1>


<h3 class="d-flex justify-content-center">Administrator</h1>

<hr>


<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
  <li class="nav-item">
     <p class="nav-link" > <%= link_to "Create", new_teacher_path %></p>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="change">Update</a>
  </li>
</ul>
</div>
</div>
