<h1 class="text-center">View a Course</h1>
<hr>

 <td> <%= @course.id%> </td>
    <td> <%= @course.course_name%> </td>
    <td> <%= @course.course_hours%> </td>
    <br><br>

    <%= link_to 'Dashboard', admin_pages_path(@course) %>