

<h1 class="text-center">Administrator Dashboard</h1>
<hr>
<h4>Instructions</h4>
<p>Click on Administrator button on the Nav Bar and select
    Teachers, Students, Courses and Cohorts to manage resouces.</p>
<strong>NOTE: We are working on the email and profile functions</strong>
<br>
<br>
<%teachTotal = Teacher.all.size%>
<p>Teachers total: <%=teachTotal%></p>

<%studentTotal = Student.all.size%>
<p>Students total: <%=studentTotal%></p>

<%courseTotal = Course.all.size%>
<p>Course total: <%=courseTotal%>

<%cohortTotal = Cohort.all.size%>
<p>Cohort total: <%=cohortTotal%> </p>
