

<h1 class="d-flex justify-content-center">Professor</h1>
<h4 class="d-flex justify-content-center">THE NAME OF THE PROFESSOR GOES HERE</h4>



<div class="container">
  <div class="row">
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="#">Email</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cohort</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">My Profile</a>
  </li>
</ul>